body {
  margin: 50px 0px 50px 0px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.container .footer-text {
  margin: 20px 0;
}

.badge {
  background-color: rgb(207, 113, 113);
}